/* h1 {
    color: orange;
}


.column {
  flex: 33.33%;
  height: 90px;
  padding: 10px;
  margin: 5px;
  background-color: #cccccc;
  text-align: center;
}
.container {
   display: flex;
} */


div {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: lightgreen;
    box-shadow: 10px 10px;
 }
   .animated {
    background-image: url(/css/images/logo.png); 
    background-repeat: no-repeat;
    background-position: left top; 
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s; 
    animation-duration: 10s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);} 
 }
 
 @keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }
 
 .shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
 }
